<div id="btnClick">
<h1>This is Default Component</h1>
<textarea rows="3" cols="60" [value]="newPost">
</textarea>
<br>
<button id="btn1" (click)="onAddPost()">Click on Button to ChangeText...
</button>
<br>
<p>{{ newPost }}</p><br>

<textarea rows="3" cols="60" [value]="newPost1">
</textarea>
<br>
<button id="btn2" (click)="onAddPost1()">Click on Button to ChangeText...
</button>
<br>
<p>{{ newPost1 }}</p><br>

<textarea rows="3" cols="60" [value]="newPost2">
</textarea>
<br>
<button id="btn3" (click)="onAddPost2()">Click on Button to ChangeText...
</button>
<br>
<p>{{ newPost2 }}</p><br>

<textarea rows="3" cols="60" [value]="newPost3">
</textarea>
<br>
<button id="btn4" (click)="onAddPost3()">Click on Button to ChangeText...
</button>
<br>
<p>{{ newPost3 }}</p><br>

<textarea rows="3" cols="60" [value]="newPost4">
</textarea>
<br>
<button id="btn5" (click)="onAddPost4()">Click on Button to ChangeText...
</button>
<br>
<p>{{ newPost4 }}</p><br>

<textarea rows="3" cols="60" [value]="newPost5">
</textarea>
<br>
<button id="btn6" (click)="onAddPost5()">Click on Button to ChangeText...
</button>
<br>
<p>{{ newPost5 }}</p><br>

<textarea rows="3" cols="60" [value]="newPost6">
</textarea>
<br>
<button id="btn7" (click)="onAddPost6()">Click on Button to ChangeText...
</button>
<br>
<p>{{ newPost6 }}</p><br>

<textarea rows="3" cols="60" [value]="newPost7">
</textarea>
<br>
<button id="btn8" (click)="onAddPost7()">Click on Button to ChangeText...
</button>
<br>
<p>{{ newPost7 }}</p><br>

<textarea rows="3" cols="60" [value]="newPost8">
</textarea>
<br>
<button id="btn9" (click)="onAddPost8()">Click on Button to ChangeText...
</button>
<br>
<p>{{ newPost8 }}</p><br>

<textarea rows="3" cols="60" [value]="newPost9">
</textarea>
<br>
<button id="btn10" (click)="onAddPost9()">Click on Button to ChangeText...
</button>
<br>
<p>{{ newPost9 }}</p><br>

<textarea rows="3" cols="60" [value]="newPost10">
</textarea>
<br>
<button id="btn11" (click)="onAddPost10()">Click on Button to ChangeText...
</button>
<br>
<p>{{ newPost10 }}</p><br>

<textarea rows="3" cols="60" [value]="newPost11">
</textarea>
<br>
<button id="btn12" (click)="onAddPost11()">Click on Button to ChangeText...
</button>
<br>
<p>{{ newPost11 }}</p><br>

<textarea rows="3" cols="60" [value]="newPost12">
</textarea>
<br>
<button id="btn13" (click)="onAddPost12()">Click on Button to ChangeText...
</button>
<br>
<p>{{ newPost12 }}</p><br>

</div>